body {
    margin: 0;
    font-family: "Smythe", system-ui;
    background-color: grey;
}

/* layout */
header,
main,
footer {
    margin: 0 auto;
    max-width: 600px;
}

header {
    background-image: url(/assets/header-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: normal;
    padding: 40px;
    box-sizing: border-box;
}

header h1,
header h2,
footer h3 {
    margin: 0;
}

main,
footer {
    width: 100%;
    background-color: #fff;
}

.card,
.order-detail {
    margin: 0 10%;
}

.card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    padding: 35px 0;
}

.card-info p,
.order-detail p {
    margin: 0;
}

.card-info,
.total .medium-font {
    margin-right: auto;
}

.card-img {
    margin-right: 10px;
    font-size: 45px;
}

.order-detail,
.payment-success-section {
    padding: 30px 0 50px 0;
}

.total,
.order {
    display: flex;
    align-items: center;
}

.order-list {
    margin-top: 40px;
}

.order {
    margin-top: 5px;
}

.hide {
    visibility: hidden;
    display: none;
}

.total {
    border-top: 2px solid #393333;
    margin: 15px 0 30px 0;
    padding: 15px 0;
}

.payment-success {
    display: block;
    font-size: 32px;
    color: #065F46;
    background-color: #ECFDF5;
    padding: 35px;
    text-align: center;
    box-sizing: border-box;
    margin: 20px 10%;
}

/* typography */
header h1 {
    font-size: 39px;
    font-weight: normal;
}

header h2 {
    font-size: 22.5px;
    font-weight: normal;
}

.medium-font {
    font-size: 28px;
    font-weight: normal;
}

.ingredients {
    font-size: 16px;
    color: #8B8B8B;
    padding: 10px 0;
}

.price {
    font-size: 20px;
}

footer h3 {
    text-align: center;
}

/* btn */
.add-to-cart {
    padding: 15px;
    border-radius: 50%;
    border: solid 1px #DEDEDE;
    cursor: pointer;
}

.add-to-cart i {
    color: #3C3C3C;
}

.remove {
    margin: 5px auto 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #BBBBBB;
    display: block;
    cursor: pointer;
}

.complete-order,
.btn-submit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    background-color: #16DB99;
    display: block;
    padding: 23px;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

/* modal */
.payment-modal {
    background-color: #fff;
    position: fixed;
    width: 524px;
    height: 542px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 5px 5px 200px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 30px 25px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.payment-modal h1 {
    font-size: 24px;
}

.payment-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment-form {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.form-input {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #757575;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.btn-submit {
    margin-top: 10px;
}